.logoBlock {
  h1 {
    color: var(--color-black-dark);

    a {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      gap: var(--padding-base);
    }
  }

  object {
    max-height: 0;
    transform: rotate(360deg);
    opacity: 0;
    transition: all .4s ease-in;
    width: 80px;
    height: 80px;
  }

  &.open {
    object {
      transform: rotate(0);
      max-height: 1000px;
      opacity: 1;
    }
  }
}

@media(min-width: 768px) {
  .logoBlock {
    h1 {
      a {
        grid-template-columns: auto auto;
      }
    }

    object {
      max-height: 1000px;
      opacity: 1;

      &:hover {
        animation: 1s jiggle ease-in-out;
        // transform: rotate(340deg);
      }
    }
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(360deg);
  }

  25% {
    transform: rotate(350deg);
  }

  50% {
    transform: rotate(360deg);
  }

  75% {
    transform: rotate(370deg);
  }

  100% {
    transform: rotate(360deg);
  }
}