.logoBlock {
  h1 {
    color: var(--color-black-dark);

    a {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      gap: var(--padding-base);
    }
  }

  object {
    display: none;
    width: 80px;
    height: 80px;
  }
}

@media(min-width: 768px) {
  .logoBlock {
    object {
      display: block;
    }
  }
}