.mobileMenuButton {
  background: transparent;
  border: none;
  padding: .1rem;
  transition: all .4s ease-in;

  object {
    pointer-events: none;
    cursor: pointer;
  }

  &.open {
    transform: rotateY(-180deg)
  }
}

@media(min-width: 992px) {
  .mobileMenuButton {
    display: none;
  }
}
